#page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.84vh 3.17vw;
    gap: 0.92vh;
    width: 93.6%;
    padding-bottom: calc(3.17vw + 128px);
}

.button {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1.28vh;
    gap: 0.438rem;
    width: fit-content;
    height: fit-content;
    background: #2692D9;
    border-radius: 5px;
    font-family: 'tajawal-bold';
    font-size: 2.2vh;
    line-height: 2.57vh;
}

.date-menu {
    padding-top: 1.28vh;
    padding-bottom: 1.28vh;
    border-radius: 5px;
    background-color: #F5F5F5;
    font-family: 'tajawal-regular';
    font-size: 2.2vh;
    line-height: 0px;
    height: 4.5vh;
}

.label {
    user-select: none;
    font-family: 'tajawal-bold';
    font-size: 2.94vh;
    line-height: 3.49vh;
    height: 3.49vh;
    display: flex;
    align-items: center;
}

.h-section {
    border-radius: 10px;
    padding: 1.28vh;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.v-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3rem;
    width: fit-content;
}

@media (min-width: 1200px) {
    .event-type {
        font-size: 2.5rem;
    }
}

@media (max-width: 900px) {
    .event-type {
        font-size: 7.5vw;
    }
}

@media (max-width: 1200px) {
    .event-type {
        font-size: 4.5vw;
    }
}