#class-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.84vh 3.17vw;
    gap: 0.92vh;

    width: 93.65vw;
}

#class-name {
    user-select: none;
    font-family: 'tajawal-bold';
    font-size: 2.94vh;
    line-height: 3.49vh;
    height: 3.49vh;
    display: flex;
    align-items: center;
}

#class-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.9vh 2.88vw;
    gap: 2.88vw;
}

.button {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1.28vh;
    gap: 0.438rem;

    width: fit-content;
    height: fit-content;

    background: #2692D9;
    border-radius: 5px;

    font-family: 'tajawal-bold';
    font-size: 2.2vh;
    line-height: 2.57vh;
    user-select: none;
}

#table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.83vh 3.17vw;
    gap: 0.92vh;

    width: 87.32vw;
    max-width: 600px;

    background: rgba(38, 146, 217, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

#table-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
}

.column-title {
    flex-grow: 1;
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 2.88vw;
    width: 50%;
}

.slider-control {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.svg-button {
    height: 2.39vh;
    width: fit-content;
}

.column-name {
    text-align: center;
}

hr {
    width: 95%;
    height: 0px;
    border: solid 0.19vh #F5F5F5;
    border-radius: 1px;
    margin: 0px;
}

.table-body {
    width: 100%;
    max-height: 47.79vh;
    overflow-y: auto;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2.88vw;
}

.cell {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    text-align: center;
    /* justify-content: center; */
}

div {
    font-size: 2.94vh;
}