.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.84vh 3.17vw;
    gap: 0.92vh;

    width: 93.65vw;
}

.delete-button {
    user-select: none;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 1.28vh;
    gap: 0.438rem;

    width: fit-content;
    height: fit-content;

    background: #FF3333;
    border-radius: 5px;

    font-family: 'tajawal-bold';
    font-size: 2.2vh;
    line-height: 2.57vh;
}

form {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1.84vh;
    align-items: center;
}

label, input, textarea {
    direction: rtl;
    font-size: 3.86vh;
    font-family: 'tajawal-regular';
    flex-grow: 1;
}

.form-control {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

input, textarea {
    background-color: #e6e6e6;
    border-radius: 5px;
    border: 0px;
    padding: 0.92vh;
    min-height: 5.8vh;
}

textarea {
    resize: none;
    height: auto;
}

button {
    background-color: #2692D9;
    color: #FFFFFF;
    font-family: 'tajawal-regular';
    border: 0px;
    padding: 1vh;
    font-size: 3.86vh;
    border-radius: 5px;
    width: 100%;
}