<div>
    <app-app-header />
    <div id="home-body">
        @if (isUserLeader) {
            <div class="section">
                <div class="section-title">
                الخدام
                </div>
                <div class="section-body">
                    @for (event of teacherEvents; track event.event_id) {
                        <app-class-card [classId]="event.event_id" [name]="event.event_name" (clickedOnCard)="onCardClick($event, 'teachers')"/>
                    }
                    <hr>
                </div>
            </div>
        }

        <div class="section">
            <div class="section-title">
            المخدومين
            </div>
            <div class="section-body">
                @for (event of studentEvents; track event.event_id) {
                    <app-class-card [classId]="event.event_id" [name]="event.event_name" (clickedOnCard)="onCardClick($event, 'students')"/>
                }
                <hr>
            </div>
        </div>
    </div>
</div>
<app-nav-menu />