<div id="login-container">
    <p class="title">
        مــفـــتــقــد
    </p>
    <div style="display: flex; flex-direction: column; justify-content: center; width: 100%;">

        <div id="form-container">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <input type="text" formControlName="username" placeholder="اسم المستخدم"/>
                <input type="password" formControlName="password" placeholder="الباسورد"/>
                <button id="login-button" type="submit">تسجيل الدخول</button>
            </form>
            @if (errorMessage !== '') {
                <app-error-message [message]="errorMessage" />
            }
        </div>


    </div>
</div>

<div style="position: fixed; bottom: 0px; width: 75vw; text-align: center; padding: 3vh 12.5vw;">
تم تطويره في 2024 بواسطة توني جورج خادم كنيسة الشهيد العظيم مارجرجس بدمنهور
</div>