.title {
    color: #FFFFFF;
    font-family: 'Almarai-bold';
    font-size: 4rem;
    text-align: center;
    margin: 0px;
    height: fit-content;
    padding-top: 2.2vh;
    padding-bottom: 2.2vh;
}

form {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 1.84vh;
}

input, button {
    flex-grow: 1;
    max-height: max-content;
    min-height: 6.62vh;
    border-radius: 0.625rem;
    border: 0px;
    font-size: 4.04vh;
}

input {
    background-color: #D9D9D9;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

#login-button {
    background-color: #2692D9;
    color: #FFFFFF;
    font-family: 'tajawal-regular';
}

#form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

div {
    margin: auto;
}

#login-container {
    width: 79.25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 42rem;

}

::placeholder {
    text-align: right;
    font-family: 'tajawal-light';
    font-size: 4.04vh;
}

app-login {
    display: flex;
    flex-direction: column;
}

input {
    padding-left: 0.563rem;
    padding-right: 0.563rem;
}

#svg-container {
    z-index: -1;
    position: fixed;
    bottom: 0px;
    width: 22.06vh;
    height: 18.57vh;
}