#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.84vh 3.17vw;
    gap: 0.92vh;
    width: 93.65vw;
    user-select: none;
    padding-bottom: calc(3.17vw + var(--nav-bar-height) + 50px);
}

.person {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1.83vh 3.17vw;
    gap: 0.92vh;

    width: 87.32vw;
    max-width: 600px;

    background: #2692d9cc;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius-var);

    @media screen and (min-height: 1080px) {
        svg {
            transform: scale(2.5);
            height: fit-content;
        }
    }
}

.person-name {
    flex-grow: 1;
    direction: rtl;
    font-size: var(--second-font-size);
    height: calc(var(--second-font-size) * 1.2);
}

#class-title, #event-title, #event-date {
    user-select: none;
    font-size: var(--second-font-size);
    line-height: calc(var(--second-font-size) * 1.2);
    height: calc(var(--second-font-size) * 1.2);
    display: flex;
    align-items: center;
}

#class-title {
    font-family: 'tajawal-bold';
}

#event-title, #event-date {
    font-family: 'tajawal-regular';
}

.button {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 1.28vh;
    gap: 0.438rem;
    
    width: fit-content;
    height: fit-content;
    
    background: #2692D9;
    border-radius: 5px;
    
    font-family: 'tajawal-bold';
    font-size: 2.2vh;
    line-height: 2.57vh;
    @media screen and (min-height: 1080px) {
        gap: 2vw;   
    }
}

#save-button {
    position: sticky;
    bottom: calc(3.5vh + var(--nav-bar-height));
    left: 5vw;
    padding: 1.83vh 3.17vw;
    font-size: var(--second-font-size);
    @media screen and (min-height: 1080px) {
        svg {
            transform: scale(1.5);
            height: fit-content;
        }
    }
}

#class-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.9vh 2.88vw;
    gap: 2.88vw;
}