body {
    background-color: #1D6FA5;
    width: 100vw;
    max-width: 100%;
    min-height: fit-content;
    height: 100vh;
    margin: 0px;
    color: #F5F5F5;
    font-family: 'tajawal-regular';
}

@font-face {
    font-family: 'almarai-bold';
    src: url('/fonts/Almarai-Bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'tajawal-light';
    src: url('/fonts/Tajawal-Light.ttf') format('truetype'),
}

@font-face {
    font-family: 'tajawal-regular';
    src: url('/fonts/Tajawal-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'tajawal-medium';
    src: url('/fonts/Tajawal-Medium.ttf') format('truetype'),
}

@font-face {
    font-family: 'tajawal-bold';
    src: url('/fonts/Tajawal-Bold.ttf') format('truetype'),
}
html, body { height: 100%; }
body { margin: 0; font-family: 'tajawal-regular', Roboto, "Helvetica Neue", sans-serif; }
